In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') #creates table if it exists and replaces it

0

In [14]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 3.12 s
Wall time: 11.6 s

1000

In [15]:
from time import time

In [16]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %.3f second(s)' %(t_end - t_start))

inserted another chunk, took 10.257 second(s)
inserted another chunk, took 10.546 second(s)
inserted another chunk, took 10.614 second(s)
inserted another chunk, took 10.668 second(s)
inserted another chunk, took 10.741 second(s)
inserted another chunk, took 9.825 second(s)
inserted another chunk, took 10.332 second(s)
inserted another chunk, took 11.202 second(s)
inserted another chunk, took 10.249 second(s)
inserted another chunk, took 10.938 second(s)
inserted another chunk, took 10.874 second(s)

C:\Users\Kevin Le\AppData\Local\Temp\ipykernel_26048\3619246037.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.467 second(s)
inserted another chunk, took 7.203 second(s)

StopIteration:

In [5]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-26 21:46:47--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.140.136, 54.231.204.0, 54.231.170.232, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.140.136|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100% 1.87M=0.006s

2024-01-26 21:46:47 (1.87 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [6]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [7]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
df_zones.to_sql(name='zones',con=engine,if_exists='replace')

265

In [9]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-26 21:49:07--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240127T054907Z&X-Amz-Expires=300&X-Amz-Signature=8ccd3ba68886df930cbb1768ee3b25d24063fad3fe396d1528c0e7ed552a10b7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-26 21:49:07--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240127%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240127T054907Z&X-Amz-Expires=300&X-Amz-Signature=8ccd3ba68886df930cbb1768ee3b25d24063fad3fe396d1528c0e7ed552a10b7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: 'green_tripdata_2019-09.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 2.20M 3s
    50K .......... .......... .......... .......... ..........  1% 62.6M 2s
   100K .......... .......... .......... .......... ..........  1% 80.8M 1s
   150K .......... .......... .......... .......... ..........  2% 13.1M 1s
   200K .......... .......... .......... .......... ..........  3% 9.28M 1s
   250K .......... .......... .......... .......... ..........  3% 52.8M 1s
   300K .......... .......... .......... .......... ..........  4% 20.5M 1s
   350K .......... .......... .......... .......... ..........  5% 9.81M 1s
   400K .......... .......... .......... .......... ..........  5% 22.6M 1s
   450K .......... .......... .......... .......... ..........  6% 6.31M 1s
   500K .......... .......... .......... .......... ..........  7%  143M 1s
   550K .......... .......... .......... .......... ..........  7%  218M 1s
   600K .......... .......... .......... .......... ..........  8%  148M 1s
   650K .......... .......... .......... .......... ..........  9% 6.53M 1s
   700K .......... .......... .......... .......... ..........  9% 10.6M 1s
   750K .......... .......... .......... .......... .......... 10% 78.6M 1s
   800K .......... .......... .......... .......... .......... 11% 14.6M 1s
   850K .......... .......... .......... .......... .......... 11%  116M 1s
   900K .......... .......... .......... .......... .......... 12%  281M 0s
   950K .......... .......... .......... .......... .......... 13% 13.6M 0s
  1000K .......... .......... .......... .......... .......... 13%  128M 0s
  1050K .......... .......... .......... .......... .......... 14%  231M 0s
  1100K .......... .......... .......... .......... .......... 14% 34.8M 0s
  1150K .......... .......... .......... .......... .......... 15%  193M 0s
  1200K .......... .......... .......... .......... .......... 16%  411M 0s
  1250K .......... .......... .......... .......... .......... 16%  610M 0s
  1300K .......... .......... .......... .......... .......... 17%  247M 0s
  1350K .......... .......... .......... .......... .......... 18%  106M 0s
  1400K .......... .......... .......... .......... .......... 18% 42.6M 0s
  1450K .......... .......... .......... .......... .......... 19% 54.8M 0s
  1500K .......... .......... .......... .......... .......... 20% 2.78M 0s
  1550K .......... .......... .......... .......... .......... 20% 6.47M 0s
  1600K .......... .......... .......... .......... .......... 21% 30.8M 0s
  1650K .......... .......... .......... .......... .......... 22%  220M 0s
  1700K .......... .......... .......... .......... .......... 22% 53.6M 0s
  1750K .......... .......... .......... .......... .......... 23%  151M 0s
  1800K .......... .......... .......... .......... .......... 24%  291M 0s
  1850K .......... .......... .......... .......... .......... 24%  195M 0s
  1900K .......... .......... .......... .......... .......... 25% 1.74M 0s
  1950K .......... .......... .......... .......... .......... 26%  221M 0s
  2000K .......... .......... .......... .......... .......... 26%  195M 0s
  2050K .......... .......... .......... .......... .......... 27%  213M 0s
  2100K .......... .......... .......... .......... .......... 28%  187M 0s
  2150K .......... .......... .......... .......... .......... 28% 36.2M 0s
  2200K .......... .......... .......... .......... .......... 29%  310M 0s
  2250K .......... .......... .......... .......... .......... 29% 92.1M 0s
  2300K .......... .......... .......... .......... .......... 30% 66.4M 0s
  2350K .......... .......... .......... .......... .......... 31%  128M 0s
  2400K .......... .......... .......... .......... .......... 31% 71.2M 0s
  2450K .......... .......... .......... .......... .......... 32% 70.8M 0s
  2500K .......... .......... .......... .......... .......... 33% 12.8M 0s
  2550K .......... .......... .......... .......... .......... 33% 18.5M 0s
  2600K .......... .......... .......... .......... .......... 34% 35.8M 0s
  2650K .......... .......... .......... .......... .......... 35% 57.8M 0s
  2700K .......... .......... .......... .......... .......... 35% 51.1M 0s
  2750K .......... .......... .......... .......... .......... 36% 89.1M 0s
  2800K .......... .......... .......... .......... .......... 37% 82.7M 0s
  2850K .......... .......... .......... .......... .......... 37% 56.1M 0s
  2900K .......... .......... .......... .......... .......... 38%  124M 0s
  2950K .......... .......... .......... .......... .......... 39%  182M 0s
  3000K .......... .......... .......... .......... .......... 39% 95.8M 0s
  3050K .......... .......... .......... .......... .......... 40%  337M 0s
  3100K .......... .......... .......... .......... .......... 41%  373M 0s
  3150K .......... .......... .......... .......... .......... 41%  472M 0s
  3200K .......... .......... .......... .......... .......... 42%  279M 0s
  3250K .......... .......... .......... .......... .......... 43%  442M 0s
  3300K .......... .......... .......... .......... .......... 43%  428M 0s
  3350K .......... .......... .......... .......... .......... 44%  409M 0s
  3400K .......... .......... .......... .......... .......... 44%  385M 0s
  3450K .......... .......... .......... .......... .......... 45%  202M 0s
  3500K .......... .......... .......... .......... .......... 46%  272M 0s
  3550K .......... .......... .......... .......... .......... 46%  349M 0s
  3600K .......... .......... .......... .......... .......... 47%  350M 0s
  3650K .......... .......... .......... .......... .......... 48%  364M 0s
  3700K .......... .......... .......... .......... .......... 48%  160M 0s
  3750K .......... .......... .......... .......... .......... 49% 37.9M 0s
  3800K .......... .......... .......... .......... .......... 50% 58.6M 0s
  3850K .......... .......... .......... .......... .......... 50% 49.4M 0s
  3900K .......... .......... .......... .......... .......... 51%  135M 0s
  3950K .......... .......... .......... .......... .......... 52% 11.3M 0s
  4000K .......... .......... .......... .......... .......... 52% 30.2M 0s
  4050K .......... .......... .......... .......... .......... 53% 29.3M 0s
  4100K .......... .......... .......... .......... .......... 54%  126M 0s
  4150K .......... .......... .......... .......... .......... 54%  114M 0s
  4200K .......... .......... .......... .......... .......... 55% 98.2M 0s
  4250K .......... .......... .......... .......... .......... 56% 61.1M 0s
  4300K .......... .......... .......... .......... .......... 56% 19.1M 0s
  4350K .......... .......... .......... .......... .......... 57% 24.0M 0s
  4400K .......... .......... .......... .......... .......... 58%  342M 0s
  4450K .......... .......... .......... .......... .......... 58%  178M 0s
  4500K .......... .......... .......... .......... .......... 59%  159M 0s
  4550K .......... .......... .......... .......... .......... 59%  179M 0s
  4600K .......... .......... .......... .......... .......... 60% 35.7M 0s
  4650K .......... .......... .......... .......... .......... 61% 25.6M 0s
  4700K .......... .......... .......... .......... .......... 61% 31.9M 0s
  4750K .......... .......... .......... .......... .......... 62% 66.5M 0s
  4800K .......... .......... .......... .......... .......... 63%  109M 0s
  4850K .......... .......... .......... .......... .......... 63% 61.8M 0s
  4900K .......... .......... .......... .......... .......... 64% 63.5M 0s
  4950K .......... .......... .......... .......... .......... 65% 50.2M 0s
  5000K .......... .......... .......... .......... .......... 65% 45.7M 0s
  5050K .......... .......... .......... .......... .......... 66% 44.1M 0s
  5100K .......... .......... .......... .......... .......... 67% 29.0M 0s
  5150K .......... .......... .......... .......... .......... 67%  166M 0s
  5200K .......... .......... .......... .......... .......... 68% 65.9M 0s
  5250K .......... .......... .......... .......... .......... 69% 44.3M 0s
  5300K .......... .......... .......... .......... .......... 69%  117M 0s
  5350K .......... .......... .......... .......... .......... 70% 21.2M 0s
  5400K .......... .......... .......... .......... .......... 71%  156M 0s
  5450K .......... .......... .......... .......... .......... 71% 46.3M 0s
  5500K .......... .......... .......... .......... .......... 72% 83.6M 0s
  5550K .......... .......... .......... .......... .......... 73% 99.1M 0s
  5600K .......... .......... .......... .......... .......... 73%  223M 0s
  5650K .......... .......... .......... .......... .......... 74% 45.3M 0s
  5700K .......... .......... .......... .......... .......... 74% 63.9M 0s
  5750K .......... .......... .......... .......... .......... 75% 59.9M 0s
  5800K .......... .......... .......... .......... .......... 76% 59.5M 0s
  5850K .......... .......... .......... .......... .......... 76% 59.4M 0s
  5900K .......... .......... .......... .......... .......... 77% 26.8M 0s
  5950K .......... .......... .......... .......... .......... 78% 16.7M 0s
  6000K .......... .......... .......... .......... .......... 78%  563M 0s
  6050K .......... .......... .......... .......... .......... 79%  335M 0s
  6100K .......... .......... .......... .......... .......... 80%  365M 0s
  6150K .......... .......... .......... .......... .......... 80%  326M 0s
  6200K .......... .......... .......... .......... .......... 81%  135M 0s
  6250K .......... .......... .......... .......... .......... 82% 63.5M 0s
  6300K .......... .......... .......... .......... .......... 82% 21.0M 0s
  6350K .......... .......... .......... .......... .......... 83%  140M 0s
  6400K .......... .......... .......... .......... .......... 84% 97.8M 0s
  6450K .......... .......... .......... .......... .......... 84% 70.7M 0s
  6500K .......... .......... .......... .......... .......... 85% 61.5M 0s
  6550K .......... .......... .......... .......... .......... 86% 57.0M 0s
  6600K .......... .......... .......... .......... .......... 86% 64.9M 0s
  6650K .......... .......... .......... .......... .......... 87% 68.6M 0s
  6700K .......... .......... .......... .......... .......... 88% 10.1M 0s
  6750K .......... .......... .......... .......... .......... 88% 49.5M 0s
  6800K .......... .......... .......... .......... .......... 89% 43.2M 0s
  6850K .......... .......... .......... .......... .......... 89% 65.3M 0s
  6900K .......... .......... .......... .......... .......... 90% 39.0M 0s
  6950K .......... .......... .......... .......... .......... 91%  213M 0s
  7000K .......... .......... .......... .......... .......... 91%  121M 0s
  7050K .......... .......... .......... .......... .......... 92% 68.3M 0s
  7100K .......... .......... .......... .......... .......... 93% 40.1M 0s
  7150K .......... .......... .......... .......... .......... 93% 46.1M 0s
  7200K .......... .......... .......... .......... .......... 94% 65.6M 0s
  7250K .......... .......... .......... .......... .......... 95% 52.3M 0s
  7300K .......... .......... .......... .......... .......... 95% 35.2M 0s
  7350K .......... .......... .......... .......... .......... 96%  304M 0s
  7400K .......... .......... .......... .......... .......... 97% 96.0M 0s
  7450K .......... .......... .......... .......... .......... 97% 59.6M 0s
  7500K .......... .......... .......... .......... .......... 98% 6.52M 0s
  7550K .......... .......... .......... .......... .......... 99%  127M 0s
  7600K .......... .......... .......... .......... .......... 99%  607M 0s
  7650K .......... ..........                                 100%  762M=0.2s

2024-01-26 21:49:08 (31.8 MB/s) - 'green_tripdata_2019-09.csv.gz' saved [7854533/7854533]

In [10]:
df_green = pd.read_csv('green_tripdata_2019-09.csv.gz')

C:\Users\Kevin Le\AppData\Local\Temp\ipykernel_6360\22285415.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [15]:
print(pd.io.sql.get_schema(df_green, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [14]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [16]:
df_green.to_sql(name='green_taxi_data', con=engine, if_exists='replace')

63